.logo{
	text-align:center;
	margin-top:89px;
	height:233px;
	position:absolute;
}

.logo h1{
	font-size:500%;
	padding-top:109px;
	font-family: 'Brush Script MT', cursive;
}

.searchbar{
	top:50%;
	position:absolute;
	margin-top:-35px;
}

.searchbutton{
	top:50%;
	position:absolute;
	margin-top:20px;
}