<!DOCTYPE html>
<html>
  <head>
    <title>What? Query</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
  	    {% if answers %}
    <div class="col-md-4 col-md-offset-4">
      <h1>Top Results for:</h1>
      <h3>{{query}}<h3>
      <ul class="list-group">
        {% for answer in answers %}
        <li class="list-group-item"><span class="badge">{{answer[1]}}</span>{{answer[0]}}</li>
        {% endfor %}
        <a href="/" class="list-group-item">Ask Another Question</a>
      </ul>
    </div>
    {% endif %}
  </body>
</html>